.load-more {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.infinite-scroll-container {
    height: fit-content;
    overflow: hidden;
}

.infinite-scroll-component {
    overflow: hidden!important;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;

    @media screen and (max-width: 480px) {
        padding: 8px;
    }
}