.facebook-icon {
  width: 24px;
  height: 24px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg');
  background-size: cover;
}

.facebook-login-button {
  width: 38px;
  height: 38px;
  padding: 0;
}